body {
  position: relative;
  padding-top: 40px;
}

.frame {
  fill: #fff;
  fill-opacity: .7;
  stroke: #aaa;
}

.jmol-viewer {
  position: fixed;
  left: 730px;
  top: 340px;
  resize:both;
  overflow:auto;
}

.jmol {
  border: 1px solid #ddd;
}

.brush {
  fill: #000;
  fill-opacity: .125;
  stroke: #B0A2A8;
}

.interaction {
  stroke-width: 1;
  stroke: black;
  opacity: 1;
}

.cWW, .ncWW {
  stroke: black;
  fill: black;
}

.tWW, .ntWW {
  stroke: #663300;
  fill: #3D1F00;
}

.cWH, .ncWH {
  stroke: #00CC00;
  fill: #007A00;
}


.tWH, .ntWH {
  stroke: #CC00FF;
  fill: #7A0099;
}

.cWS, .ncWS {
  stroke: #669900;
  fill: #3D5C00;
}

.cHH, .ncHH {
  stroke: #009900;
  fill: #005C00;
}

.tHH, .ntHH {
  stroke: #6600FF;
  fill: #3D0099;
}

.cHS, .ncHS {
  stroke: #FF9900;
  fill: #995C00;
}

.cSS, .ncSS {
  stroke: #CC9900;
  fill: #7A5C00;
}

.tSS, .ntSS {
  stroke: #666699;
  fill: #3D3D5C;
}

.tHS, .ntHS {
  stroke: #3333FF;
  fill: #1F1F99;
}

.tWS, .ntWS {
  stroke: #3333CC;
  fill: #1F1F7A;
}
